<!DOCTYPE html>
<html>
<head>
	<title>Admin page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container border border-dark rounded" style="width: 350px; margin-top: 50vh; transform: translateY(-50%); padding: 15px;">
		<h3>Login</h3><br>
		<form method="post">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Username</span>
				</div>
				<input type="text" class="form-control" name="username">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Password</span>
				</div>
				<input type="password" class="form-control" name="password">
			</div>
			<button type="submit" name="submit" value="Log In" class="btn btn-primary">Log In</button>
		</form>
	</div>
</body>
</html>