<h2></h2>
<div>
    <h3>1. Are you willing to share with us your full name? (Please type "yes" or "no")</h3>
    <fieldset id="name">
        <input type="text" name="name" id="name" required />
        <label for="name" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>2. Are you willing to share with us your date of birth? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="birth" id="birth" required />
        <label for="birth" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>3. Are you willing to share with us your home address? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="address" id="address" required />
        <label for="address" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>4. Are you willing to share with us your email address? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="email" id="email" required />
        <label for="email" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>5. Do you use Facebook? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="fb" id="fb" required />
        <label for="fb" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>*. Are you willing to share with us your Facebook ID or URL? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="fbid" id="fbid" />
        <label for="fbid" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>6. Are you willing to share with us your phone number? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="phone" id="phone" required />
        <label for="phone" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>7. Are you willing to share with us your annual income? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="income" id="income" required />
        <label for="income" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>8. Are you willing to install cookies on your computer to share with us your browsing history? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="cookie" id="cookie" required />
        <label for="cookie" class="form-label"></label>
    </fieldset>
</div>

