<h2></h2>
<div>
    <h3>
        Welcome to our study. Please read the following instructions carefully, as they
        are important. <br><br>

        We are constructing a participant database to study consumer online shopping
        behaviors, which you are invited to be a member of.  To construct the database, we will
        invite you to share some personal information. The information you share will help us
        personalize tasks for you in the future.  More information is more helpful for us. 
        However, for each piece of information, you are free to choose whether you want to
        share or not. <br><br>

        In the following pages, you will see a series of questions. For each
        question, if you are willing to share the information, please type yes in the text box
        below. If you are not willing to share, please type no.  
        For example, if you are asked: are you willing to share with us your major? 1)
        Yes. 2) No If you are willing to share, you will type yes. If not, you will type No.
        Then this procedure repeats for the next question. <br><br>

        If you understand the instructions, please press the arrow on right side to begin the survey. <br>
    </h3>
</div>

<h2></h2>
<div>
    <h3>1. Are you willing to share with us your full name? (Please type "yes" or "no")</h3>
    <fieldset id="name">
        <input type="text" name="name" id="name" required />
        <label for="name" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>2. Are you willing to share with us your date of birth? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="birth" id="birth" required />
        <label for="birth" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>3. Are you willing to share with us your home address? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="address" id="address" required />
        <label for="address" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>4. Are you willing to share with us your email address? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="email" id="email" required />
        <label for="email" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>5. Do you use Facebook? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="fb" id="fb" required />
        <label for="fb" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>6. Are you willing to share with us your Facebook ID or URL? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="fbid" id="fbid" />
        <label for="fbid" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>7. Are you willing to share with us your phone number? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="phone" id="phone" required />
        <label for="phone" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>8. Are you willing to share with us your annual income? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="income" id="income" required />
        <label for="income" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>9. Are you willing to install cookies on your computer to share with us your browsing history? (Please type "yes" or "no")</h3>
    <fieldset>
        <input type="text" name="cookie" id="cookie" required />
        <label for="cookie" class="form-label"></label>
    </fieldset>
</div>

