<h2></h2>
<div>
    <h3>
    Welcome to our study. Please read the following instructions carefully, as they
    are important.  <br><br>

    We are constructing a participant database to study consumer online shopping
    behaviors, which you are invited to be a member of.  To construct the database, we will
    invite you to share some personal information. The information you share will help us
    personalize tasks for you in the future.  More information is more helpful for us. 
    However, for each piece of information, you are free to choose whether you want to
    share or not. <br><br>

    In the following pages, you will hear a series of questions. For each
    question, if you are willing to share the information, please type yes in the text box
    below. If you are not willing to share, please type no.
    For example, if you hear: are you willing to share with us your major? Please type "yes" or "no".
    If you are willing to share, you will type yes. If not, you will type No.
    Then this procedure repeats for the next question.  <br><br>

    If you understand the instructions, please press "start" to begin the survey. <br>
    </h3>
</div>

<h2></h2>
<div>
    <h3> 
        Before we answer the survey, let us have a try: <br><br>
        (Comment: You will be able to type after the audio ends)<br><br>
        <audio src="audios/condition4/trail.mp3" id="question0" controls></audio> 
    </h3>
    <fieldset id="input0">
        <input type="text" name="trail" id="trail" required readonly />
        <label for="trail" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 1: <br><br><audio src="audios/condition4/Q1.mp3" id="question1" controls></audio> </h3>
    <fieldset id="input1">
        <input type="text" name="name" id="name" required readonly />
        <label for="name" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 2: <br><br><audio src="audios/condition4/Q2.mp3" id="question2" controls></audio> </h3>
    <fieldset id="input2">
        <input type="text" name="birth" id="birth" required readonly />
        <label for="birth" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 3: <br><br><audio src="audios/condition4/Q3.mp3" id="question3" controls></audio> </h3>
    <fieldset id="input3">
        <input type="text" name="address" id="address" required readonly />
        <label for="address" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 4: <br><br><audio src="audios/condition4/Q4.mp3" id="question4" controls></audio> </h3>
    <fieldset id="input4">
        <input type="text" name="email" id="email" required readonly />
        <label for="email" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 5: <br><br><audio src="audios/condition4/Q5.mp3" id="question5" controls></audio> </h3>
    <fieldset id="input5">
        <input type="text" name="fb" id="fb" required readonly />
        <label for="fb" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 6: <br><br><audio src="audios/condition4/Q5a.mp3" id="question6" controls></audio> </h3>
    <fieldset id="input6">
        <input type="text" name="fbid" id="fbid" readonly />
        <label for="fbid" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 7: <br><br><audio src="audios/condition4/Q7.mp3" id="question7" controls></audio> </h3>
    <fieldset id="input7">
        <input type="text" name="phone" id="phone" required readonly />
        <label for="phone" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 8: <br><br><audio src="audios/condition4/Q8.mp3" id="question8" controls></audio> </h3>
    <fieldset id="input8">
        <input type="text" name="income" id="income" required readonly />
        <label for="income" class="form-label"></label>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 9: <br><br><audio src="audios/condition4/Q9.mp3" id="question9" controls></audio> </h3>
    <fieldset id="input9">
        <input type="text" name="cookie" id="cookie" required readonly />
        <label for="cookie" class="form-label"></label>
    </fieldset>
</div>

