<h2></h2>
<div>
    <h3>
        Welcome to our study. Please read the following instructions carefully, as they
        are important. <br><br>

        We are constructing a participant database to study consumer online shopping
        behaviors, which you are invited to be a member of.  To construct the database, we will
        invite you to share some personal information. The information you share will help us
        personalize tasks for you in the future.  More information is more helpful for us. 
        However, for each piece of information, you are free to choose whether you want to
        share or not. <br><br>

        In the following pages, you will see a series of questions. For each
        question, if you are willing to share the information, please press the recording button to
        SAY yes. If you are not willing to share, please SAY no. Then please press the stop
        button to stop recording. <br><br>

        For example, if you are asked: are you willing to share with us your major? 1)
        Yes. 2) No. If you are willing to share, you will SAY yes. If not, you will SAY no.
        Then this procedure repeats for the next question. <br>
    </h3>
</div>

<h2></h2>
<div>
    <h3>Before we answer the survey, let us have a try: <br> Are you willing to share your occupation with us? Please press the "record" button and say "yes" or "no".  </h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton0">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton0" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>1. Are you willing to share with us your full name? (Please press the microphone button and say "yes" or "no")</h3>
    <fieldset id="name">
        <button type="button" class="btn btn-primary" id="recordButton1">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton1" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>2. Are you willing to share with us your date of birth? (Please say "yes" or "no")</h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton2">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton2" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>3. Are you willing to share with us your home address? (Please say "yes" or "no")</h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton3">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton3" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>4. Are you willing to share with us your email address? (Please say "yes" or "no")</h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton4">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton4" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>5. Do you use Facebook? (Please say "yes" or "no")</h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton5">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton5" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>6. Are you willing to share with us your Facebook ID or URL? (Please say "yes" or "no")</h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton6">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton6" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>7. Are you willing to share with us your phone number? (Please say "yes" or "no")</h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton7">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton7" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>8. Are you willing to share with us your annual income? (Please say "yes" or "no")</h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton8">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton8" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3>9. Are you willing to install cookies on your computer to share with us your browsing history? (Please say "yes" or "no")</h3>
    <fieldset>
        <button type="button" class="btn btn-primary" id="recordButton9">Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton9" disabled>Stop</button>
    </fieldset>
</div>


<!-- <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> -->
<script src="js/recorder.js"></script>