<h2></h2>
<div>
    <h3>
        Welcome to our study. Please read the following instructions carefully, as they
        are important. <br><br>

        We are constructing a participant database to study consumer online shopping
        behaviors, which you are invited to be a member of.  To construct the database, we will
        invite you to share some personal information. The information you share will help us
        personalize tasks for you in the future.  More information is more helpful for us. 
        However, for each piece of information, you are free to choose whether you want to
        share or not. <br><br>

        In the following pages, you will hear a series of questions. For each
        question, if you are willing to share the information, please press the recording button to
        SAY yes. If you are not willing to share, please SAY no. Then please press the stop
        button to stop recording.  <br><br>

        For example, if you are asked: are you willing to share with us your major? 1)
        Yes. 2) No. If you are willing to share, you will SAY yes. If not, you will SAY no.
        Then this procedure repeats for the next question. <br><br>

        Remember: press the recording button to record and the stop button to stop, and
        then please wait for a second for the program to capture your recording. Then please
        click on the "next" button to proceed to the next question.  
        If you understand the instructions, please press "start" to begin the survey.
    </h3>
</div>

<h2></h2>
<div>
    <h3> Before we answer the survey, let us have a try:<br><br>
        (Comment: You will be able to start recording after question audio is end)<br><br>
        <audio src="audios/condition3/trail.mp3" id="question0" controls></audio> 
    </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton0" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton0" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 1: <br><br></var><audio src="audios/condition3/Q1.mp3" id="question1" controls></audio> </h3>
    <fieldset id="name">
        <button type="button" class="btn btn-secondary" id="recordButton1" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton1" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 2: <br><br><audio src="audios/condition3/Q2.mp3" id="question2" controls></audio> </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton2" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton2" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 3: <br><br><audio src="audios/condition3/Q3.mp3" id="question3" controls></audio> </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton3" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton3" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 4: <br><br><audio src="audios/condition3/Q4.mp3" id="question4" controls></audio> </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton4" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton4" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 5: <br><br><audio src="audios/condition3/Q5.mp3" id="question5" controls></audio> </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton5" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton5" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 6: <br><br><audio src="audios/condition3/Q5a.mp3" id="question6" controls></audio> </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton6" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton6" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 7: <br><br><audio src="audios/condition3/Q7.mp3" id="question7" controls></audio> </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton7" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton7" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 8: <br><br><audio src="audios/condition3/Q8.mp3" id="question8" controls></audio> </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton8" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton8" disabled>Stop</button>
    </fieldset>
</div>

<h2></h2>
<div>
    <h3> Question 9: <br><br><audio src="audios/condition3/Q9.mp3" id="question9" controls></audio> </h3>
    <fieldset>
        <button type="button" class="btn btn-secondary" id="recordButton9" disabled>Record</button>
        <button type="button" class="btn btn-secondary" id="stopButton9" disabled>Stop</button>
    </fieldset>
</div>

<script src="js/recorder.js"></script>