<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'"> -->
</head>
<body id="test">
<!-- 	<form method="post">
		<input type="text" name="test" id="test">
		<input type="submit" name="submit" id="send">
	</form> -->
	<audio src="./uploads/file_example_MP3_1MG.mp3" controls></audio>
	<p>audio</p>
</body>

</html>