<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
</head>
<body id="test">
<!-- 	<form method="post">
		<input type="text" name="test" id="test">
		<input type="submit" name="submit" id="send">
	</form> -->
<!-- 	<audio src="./uploads/1aau9z191574816450241.mp3" controls></audio>
	<audio src="./uploads/1o5yuqz91574816450243.mp3" controls></audio>
	<p>audio</p> -->
	<div class='container' style="width: 1000px;">
	<table class="table">
		<tr>
			<th>
				1. Are you willing to share with us your full name? 
			</th>
			<td>
				<audio src="./uploads/1aau9z191574816450241.mp3" controls></audio>
			</td>
		</tr>
	</table>
	</div>
</body>

</html>